<h1>
  Game: {{gameName}}.
  <span *ngIf="game.hasStarted && !game.winner">{{currentPlayer?.name}}'s turn. ({{currentTurnColor}})</span>
  <span *ngIf="game.hasStarted && !game.winner && game.check">You are in check!</span>
  <span *ngIf="game.winner">{{game.winner}} won.</span>
  <span *ngIf="error">ERROR: {{error}}</span>
</h1>

<div *ngIf="!game.hasStarted">
  <add-player *ngIf="!game.players || game.players.length < 2" [gameName]="gameName" (playerAdded)="addPlayer($event)"></add-player>
  <reset-game *ngIf="game.players && game.players.length" [gameName]="gameName" (reset)="reset()"></reset-game>
</div>

<div *ngIf="game.hasStarted">
  <move-list [moves]="game.moves"></move-list>
  <game-board [board]="game.board" [currentTurnColor]="currentTurnColor" (moveMade)="makeMove($event)" [moveCount]="game.moves.length"></game-board>
  
  <make-move *ngIf="isMyTurn" [gameName]="gameName" [player]="game.turn.name"></make-move>
  <reset-game *ngIf="game.players && game.players.length" [gameName]="gameName" (reset)="reset()"></reset-game>
</div>
