<div *ngIf="board" [class.board]="true">
  <div *ngFor="let row of [0,1,2,3,4,5,6,7]" [class.row]="true" [class.even]="row % 2 == 1" [class.odd]="row % 2 == 0">
    <div [class.rowMarker]="true">{{8 - row}}</div>
    <div *ngFor="let col of [0,1,2,3,4,5,6,7]" [class.col]="true" [class.even]="col % 2 == 1" [class.odd]="col % 2 == 0">
      <board-tile [piece]="board[col][row]" (click)="tileClicked(col, row);" [selected]="col == selectedColumn && row == selectedRow" [validMove]="isValidMove(col, row)"></board-tile>
    </div>
  </div>
  <div [class.columnMarkers]="true">
    <div [class.columnMarkerSpacer]="true"></div>
    <div *ngFor="let col of [0,1,2,3,4,5,6,7]" [class.columnMarker]="true">{{'ABCDEFGH'[col]}}</div>
  </div>
</div>

<div *ngIf="board && isPromoting" [class.promotionMenu]="true">
  <div [class.promotionMenuRowSpacer]="true"></div>
  <div [class.promotionMenuRow]="true">
    <div [class.promotionMenuSpacer]="true"></div>
    <board-tile [class.promotionMenuColumn]="true" [piece]="{pieceType: 'Q', color: currentTurnColor}" (click)="promoteWith('Q');"></board-tile>
    <board-tile [class.promotionMenuColumn]="true" [piece]="{pieceType: 'N', color: currentTurnColor}" (click)="promoteWith('N');"></board-tile>
    <board-tile [class.promotionMenuColumn]="true" [piece]="{pieceType: 'B', color: currentTurnColor}" (click)="promoteWith('B');"></board-tile>
    <board-tile [class.promotionMenuColumn]="true" [piece]="{pieceType: 'R', color: currentTurnColor}" (click)="promoteWith('R');"></board-tile>
    <div [class.promotionMenuColumn]="true">
      <button (click)="promoteWith(null)">Cancel</button>
    </div>
    <div [class.promotionMenuSpacer]="true"></div>
  </div>
  <div [class.promotionMenuRowSpacer]="true"></div>
</div>
